/* 
    Created on : 6 Oct, 2022, 8:55:54 PM
    Author     : Kavi
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /*nav starts*/
.top{
    width: 100%;
    height: 60px;
    background-color: rgb(7, 3, 36);
    display: flex;
}
.nav{
    width: 100%;
    height: 60px;
    background-color: rgb(69, 65, 122);
}
.top p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(182, 182, 245);
    font-size: 25px;
    padding-top: 10px;
    padding-left: 10px;
    letter-spacing: 3px;
    margin-top: 5px;
}
.top #add{
    width: 100px;
    height: 40px;
    text-decoration: none;
    color: rgb(207, 152, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    float: right;
    position: absolute;
    right:300px;
    top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    

}
.top #bank{
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: rgb(207, 152, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    float: right;
    position: absolute;
    right:420px;
    top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
}
.top img{
    width: 50px;
    height: 50px;
    margin-left: 30px; 
    margin-top: 3px;
}
.nav ul li{
    display: inline-block;
    list-style-type: none;   
}

.nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    width: 120px;
    height: 60px;
    text-align: center;
    padding-top: 20px;   
}
.nav ul{
    float: right;
}

.nav ul li a:hover{
    background-color: rgb(25, 26, 27);
    border-radius: 10px;
}

        /*nav ends*/
.bg{
    background-image: url('images/bg1.jpg');
    background-repeat: no-repeat;
    background-size:cover ;
    width: 100%;
    height: 648px;
    background-size: cover;
    background-position: top;   
}

.text-box{
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 40%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.text-box h2{
	font-size: 52px;
        font-family: Poppins;
}
.text-box h3{
	margin: 10px 0 40px;
	font-size: 16px;
	color: #fff;
        font-family: Poppins;
}
.hero-btn{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

        /*   services   */
.course{
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 100px;
        
}
h1{
	font-size: 36px;
	font-weight: 600;
}
p{
	color: #777;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
} 
.row{
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
}
.course-col{
	flex-basis: 31%;
	background: #fff3f3;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	transition: 0.5s;
}
.course-col img{
    width: 150px;
    border-radius: 5px;
}
.course-col a{
    text-decoration: none;
    font-size: 16px;
    color: brown;
    font-weight: bold;
    font-family: Poppins;
}
h3{
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}
.course-col:hover{
	box-shadow: 0 0 60px 0px rgba(0,0,0,0.2);
}

        /* Services ends */

/* add customer starts */


    
    
    .signup-box{
    width: 450px;
    height: 560px;
    background: rgba(192, 170, 170, 0.5);
    color: rgb(255, 226, 226);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 8px;
    padding: 70px 30px;
    margin-left: 250px;
    }
    .avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    }
    .signup-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
    color: white;
    }
    
    .signup-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: blue;
    }
    .signup-box input{
    width: 100%;
    margin-bottom: 20px;
    }
    .signup-box input[type="email"], input[type="password"],input[type="number"],input[type="text"]
    {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    }
    
    .signup-box input[type="submit"]
    {
      border: none;
      outline: none;
      height: 40px;
      background: #1c8adb;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;
    }
    .signup-box input[type="submit"]:hover
    {
      cursor: pointer;
      background: #e39217;
      color: #000;
    }
/* add customer ends*/
/*transaction starts re*/

.nav .bth ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 1370px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    display: block;
    width: 120px;
    height: 60px;
    text-align: center;
    padding-top: 20px;
    
}


.tbtn{
	border: 1px solid darkblue;
	background:#fff;
	border-radius:7px;
	margin: 0px 0px;
	padding: 12px 35px;
	outline: none;
	color: #16c9f6;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
}
.tbtn:hover{
	text-decoration: none;
	background:darkblue  ;
	color:#fff;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	font-weight: bold;
}
.trans{
    margin-top: -100px;
    margin-left: 890px;
}
#send{
    border: 1px solid darkblue;
	background:lightgreen;
	border-radius:7px;
	margin: 0px 0px;
	padding: 12px 35px;
	outline: none;
	color: #fff ;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.4;
	text-align: center;
}
#send:hover{
        text-decoration: none;
	background: #fff;
	color:#16c9f6;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
	font-weight: bold;
}